@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');

.barrio-regular {
    font-family: "Barrio", serif;
    font-weight: 400;
    font-style: normal;
  }
  

body{
background-color: #EDE8DC;
color: #6c564c;
}

.btn{
    background-color: #E7CCCC;
    color: #6c564c;
}

.btn:hover{
    background-color: #6c564c;
    color: #E7CCCC;
}

h1{
    color: #496300;
    font-family: "Barrio", serif;
}
.navbar-brand{
    color: #496300;
    font-family: "Barrio", serif;
}
.billing-info{
    background-color: white;
    border: 1px solid rgb(208, 206, 206);
    border-radius: 5px;
}
.semi-important{
   background-color: #6c564c;
}

.important{
    background-color: #e7cccc8a;
    border-color: #6c564c;
    color: #6c564c;
}
strong{
    color: #496300;
}

.link{
    color: #6c564c;
}
.different{
    background-color: #6c564c;
    color: #E7CCCC;
}

.different:hover{
    background-color: #E7CCCC;
    color: #6c564c;
    border-color: #6c564c;
}

.order_info{
    background-color: #E7CCCC;
}