<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HomeMade</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Barrio&display=swap" rel="stylesheet">
  </head>
  <body style="background-color: #EDE8DC">
    {% include "Components/navbar.html.jinja" %}
    <main class="container">
      <div class="row mx-auto mt-5 g-4">
        <div class="col-4  border">
          <img src="/{{product['image']}}" class="img-fluid"style= "width: 100%; height: 100%;">
        </div>
          <div class="col-5">
            <h5>{{product['name']}}</h5>
            <p>{{product['description']}}</p>
          </div>
          <div class = "col-3 rounded" style="background-color: #E7CCCC">
            <p class = "fs-3 text-center p-3"> {{"%.2f" | format(product['price'])}}</p>
          
          <form method="post" action = "/product/{{product['id']}}/cart">
            <div class="mb-3">
            <label for="quantity" class="form-label">Quantity</label>
            <input type="number" class="form-control" id="quantity" min = "1" value= "1" max = "80" name="quantity">
            </div>
            <button type="submit" class="col-3 w-100 btn btn-primary btn-sm">Add to cart</button>
          </form>
          </div>
      </div>
    </main>

    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>